# Data Quality Analysis

In [1]:
#Import packages
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_excel('/content/5CVD-all-integrated-cleaned.xlsx')

In [3]:
data.head()

,nsrrid,5_CVD_YN,chf,mi,angina,stroke,chd,prev_chf,prev_mi,prev_ang,...,urdbpae,urosatae,mi_priorexam,stroketia,cabgptca,carotidend,sleepapnea,salosewt,sastopdrinking,sacpap
0,200001,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,200002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,200003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,200004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,200005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [4]:
#Check the total number of columns and rows of dataset
data.shape

(5099, 121)

In [ ]:
#Summary of dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5099 entries, 0 to 5098
Columns: 121 entries, nsrrid to sacpap
dtypes: float64(115), int64(5), object(1)
memory usage: 4.7+ MB

In [ ]:
#Count of values per column
data.count()

nsrrid            5099
5_CVD_YN          4337
chf               4338
mi                4337
angina            4337
                  ...
carotidend        3671
sleepapnea        4383
salosewt            90
sastopdrinking      87
sacpap              96
Length: 121, dtype: int64

In [ ]:
#Number of null values per column
data.isna().sum()

nsrrid               0
5_CVD_YN           762
chf                761
mi                 762
angina             762
                  ...
carotidend        1428
sleepapnea         716
salosewt          5009
sastopdrinking    5012
sacpap            5003
Length: 121, dtype: int64

In [5]:
data = data[data['5_CVD_YN'].notna()]

In [7]:
data.shape

(4337, 121)

In [10]:
data.to_csv('CVD_Integrated_Cleaned.csv')

In [6]:
data.isna().sum()

nsrrid               0
5_CVD_YN             0
chf                  0
mi                   0
angina               0
                  ...
carotidend        1239
sleepapnea         527
salosewt          4267
sastopdrinking    4270
sacpap            4261
Length: 121, dtype: int64

In [8]:
data.tail()

,nsrrid,5_CVD_YN,chf,mi,angina,stroke,chd,prev_chf,prev_mi,prev_ang,...,urdbpae,urosatae,mi_priorexam,stroketia,cabgptca,carotidend,sleepapnea,salosewt,sastopdrinking,sacpap
5094,205800,1.0,0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
5095,205801,1.0,0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
5096,205802,1.0,0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
5097,205803,1.0,0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
5098,205804,1.0,0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Descriptive statistics
data.describe()

,nsrrid,5_CVD_YN,mi,angina,stroke,chd,prev_chf,prev_mi,prev_ang,prev_stk,...,urdbpae,urosatae,mi_priorexam,stroketia,cabgptca,carotidend,sleepapnea,salosewt,sastopdrinking,sacpap
count,5099.000000,4337.000000,4337.000000,4337.000000,4337.000000,4337.000000,4337.0,4337.0,1829.0,4337.0,...,2442.000000,2444.0,3673.000000,3672.000000,3671.000000,3671.000000,4383.000000,90.000000,87.000000,96.000000
mean,202935.713669,0.527554,0.070325,0.472677,0.063177,0.127738,0.0,0.0,0.0,0.0,...,0.008600,0.0,0.009801,0.016885,0.015800,0.003814,0.292037,0.355556,0.057471,0.770833
std,1678.470078,0.499298,0.303558,0.600394,0.388573,0.333836,0.0,0.0,0.0,0.0,...,0.092353,0.0,0.098528,0.128856,0.124716,0.061645,1.347970,0.481363,0.234090,0.422503
min,200001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,201471.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,203002.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,204384.500000,1.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,205804.000000,1.000000,4.000000,6.000000,9.000000,1.000000,0.0,0.0,0.0,0.0,...,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,8.000000,1.000000,1.000000,1.000000

In [ ]:
data.nunique()

nsrrid            5099
5_CVD_YN             2
chf                 13
mi                   5
angina               7
                  ...
carotidend           2
sleepapnea           3
salosewt             2
sastopdrinking       2
sacpap               2
Length: 121, dtype: int64

In [ ]:
data.chf.value_counts()

0     3954
1      205
2       79
3       41
4       31
5       11
6        8
8        3
9        2
         1
7        1
13       1
12       1
Name: chf, dtype: int64

In [ ]:
data.mi.value_counts()

0.0    4077
1.0     225
2.0      28
3.0       4
4.0       3
Name: mi, dtype: int64

In [ ]:
data.angina.value_counts()

0.0    2424
1.0    1835
2.0      47
3.0      16
4.0       6
5.0       5
6.0       4
Name: angina, dtype: int64

In [ ]:
data.corr()

,nsrrid,5_CVD_YN,mi,angina,stroke,chd,prev_chf,prev_mi,prev_ang,prev_stk,...,urdbpae,urosatae,mi_priorexam,stroketia,cabgptca,carotidend,sleepapnea,salosewt,sastopdrinking,sacpap
nsrrid,1.000000,0.372119,-0.075425,0.335854,-0.034928,-0.006962,NaN,NaN,NaN,NaN,...,-0.002610,NaN,0.006010,-0.025516,0.035654,0.069616,-0.006297,0.173375,-0.121895,-0.032116
5_CVD_YN,0.372119,1.000000,0.219261,0.745111,0.153880,0.362143,NaN,NaN,NaN,NaN,...,-0.030949,NaN,0.037044,0.044748,0.080434,0.039287,-0.037723,-0.064550,-0.260743,-0.033966
mi,-0.075425,0.219261,1.000000,0.321205,0.108966,0.591801,NaN,NaN,NaN,NaN,...,-0.021914,NaN,0.139216,0.008840,0.123974,-0.000110,-0.014934,-0.075378,-0.063492,0.142447
angina,0.335854,0.745111,0.321205,1.000000,0.011355,0.271709,NaN,NaN,NaN,NaN,...,-0.025404,NaN,0.045447,0.001925,0.125599,0.026080,-0.028521,-0.099015,-0.197973,-0.081562
stroke,-0.034928,0.153880,0.108966,0.011355,1.000000,0.088894,NaN,NaN,NaN,NaN,...,0.000986,NaN,0.020825,0.073974,-0.006380,0.072795,-0.010822,-0.098295,-0.031016,0.061982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
carotidend,0.069616,0.039287,-0.000110,0.026080,0.072795,0.046901,NaN,NaN,NaN,NaN,...,-0.005537,NaN,-0.006159,0.094782,0.027971,1.000000,0.046298,NaN,NaN,NaN
sleepapnea,-0.006297,-0.037723,-0.014934,-0.028521,-0.010822,-0.005221,NaN,NaN,NaN,NaN,...,0.007342,NaN,0.034591,0.002267,-0.016578,0.046298,1.000000,NaN,NaN,NaN
salosewt,0.173375,-0.064550,-0.075378,-0.099015,-0.098295,-0.139389,NaN,NaN,NaN,NaN,...,NaN,NaN,0.155675,0.079057,0.037547,NaN,NaN,1.000000,0.139686,-0.018428
sastopdrinking,-0.121895,-0.260743,-0.063492,-0.197973,-0.031016,-0.099258,NaN,NaN,NaN,NaN,...,NaN,NaN,-0.025162,-0.051948,-0.057706,NaN,NaN,0.139686,1.000000,0.002943
sacpap,-0.032116,-0.033966,0.142447,-0.081562,0.061982,0.022123,NaN,NaN,NaN,NaN,...,NaN,NaN,0.057011,0.117444,0.016142,NaN,NaN,-0.018428,0.002943,1.000000